# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# Database
db.sqlite3

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
*.coverage

# Media & static
media/
staticfiles/

# Environment variables
.env

# VSCode
.vscode/

