{% extends 'registration/base_auth.html' %}
{% block title %}Login | SGL{% endblock %}

{% block content %}

<div class="login-wrapper">
  <div class="login-container">

    <!-- LADO ESQUERDO -->
    <div class="login-left">
      <h2>Bem-vindo</h2>
      <p>Faça login para acessar sua conta existente.</p>
    </div>

    <!-- LADO DIREITO -->
    <div class="login-right">
      <h3>Entrar</h3>

      <form method="post" novalidate>
        {% csrf_token %}

        {% if form.errors %}
          <div class="alert alert-danger text-center">
            Usuário ou senha inválidos.
          </div>
        {% endif %}

        <div class="mb-3">
          <input type="text"
                 name="username"
                 class="form-control"
                 placeholder="Usuário"
                 required>
        </div>

        <div class="mb-3">
          <input type="password"
                 name="password"
                 class="form-control"
                 placeholder="Senha"
                 required>
        </div>

        <div class="d-flex justify-content-between align-items-center mb-3 login-links">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="rememberMe">
            <label class="form-check-label" for="rememberMe">
              Lembrar-me
            </label>
          </div>
          <a href="{% url 'password_reset' %}">Esqueceu a senha?</a>
        </div>

        <button type="submit" class="btn btn-login w-100">
          Entrar
        </button>
      </form>

      <div class="text-center mt-3 login-links">
        <span>Não tem conta?</span> <a href="#">Criar conta</a>
      </div>
    </div>

  </div>
</div>

{% endblock %}

